---
layout: main
---

{% for post in site.posts %}
{% for post in paginator.posts %}

  <article class="post"
           {% if post.tags %}
           {% for tag in post.tags %}
           data-{{ tag }}
           {% endfor %}
           {% endif %}
  >
    {% if post.img %}
      <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
    {% else %}
    {% endif %}
    <div class="post-content">
      <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
      <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
      <!-- <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span> -->
      <span class="post-date">{{post.date | date: '%Y-%m-%d'}}</span>
      <span class="post-date">{{ post.author }}</span>
      <!-- <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span> -->
    </div>
  </article>
{% endfor %}
{% break %}
{% endfor %}

{% include pagination.html %}


<script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
<script>
  // 전체 포스팅에서 태그 필터링
  $(document).ready(function(){
    let currentTag = "";
    const queryTag = getQuery().tag;
    if(queryTag) {
      currentTag = queryTag;
      filterByTagName(currentTag);
    }
  })

  function getQuery() {
    let params = {};

    window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,
      function(str, key, value) {
        params[key] = value;
      }
    );
    return params;
  }

  console.log(getQuery());


  // 현재 페이지에서 포스트 필터링
  $("[data-tag]").click((e) => {
    currentTag = e.target.dataset.tag;
    filterByTagName(currentTag);
  })

  function filterByTagName(tagName) {
    $('.hidden').removeClass('hidden');
    $('.post').each((index, elem) => {
      if (!elem.hasAttribute(`data-${tagName}`)) {
        $(elem).addClass('hidden');
      }
    });
    // 태그 버튼 클릭 시 클래스 selected 추가/제거
    $(`.tag`).removeClass('selected');
    $(`.tag[data-tag=${tagName}]`).addClass('selected');
  }
</script>
