---
layout: main
permalink: /tags
---
{% for tag in site.tags %}

{% capture tag_name %}{{tag|first|slugize}}{% endcapture %}

<div class="archive-group" style="display:none" id="{{tag_name}}">
  {% capture tag_size %}{{tag|last|size}}{% endcapture %}
  <h3 id="{{tag_name}}" class="tagTitle"><i class="fa fa-tag fa-fw text-muted"></i>{{tag_name}}<span class="tagTitle__num">{{tag_size}}</span></h3>

  {% for post in site.tags[tag_name] %}
  <article class="post">
    {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
    {% else %}
    {% endif %}
    <div class="post-content">
      <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
      <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
      <!-- <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span> -->
      <span class="post-date">{{post.date | date: '%Y-%m-%d'}}</span>
      <span class="post-date">{{ post.author }}</span>
      <!-- <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span> -->
    </div>
  </article>

  {% endfor %}

</div>
{% endfor %}


