---
layout: main
---
{% assign page.title = page.name %}

<div class="authorDetails">
    <div class="ProfileWrap">
        <div class="profileImage">
            {% if page.avatar %}
            <p class="image is-square">
                <img src="{{ page.avatar | prepend: site.baseurl }}" alt="{{ page.name }}" />
            </p>
            {% else %}
            <div class="has-text-centered">
                <i class="fas fa-user fa-4x"></i>
            </div>
            {% endif %}
        </div>
        <div class="profileInfoBox">
            <p class="title is-4">{{ page.name }} / {{ page.position }}</p>
            {% if page.website %}
            <p class="subtitle is-6"><a href="{{ page.website }}" title="Author Website">{{ page.website }}</a></p>
            {% endif %}
            <div class="content">
                {{ content }}
            </div>
        </div>
    </div>
    <div class="column">
        <p class="latestPostTitle is-5"><span>Latest Posts</span></p>
        <div class="columns is-multiline">
            {% assign filtered_posts = site.posts | where: 'author', page.name %}
            {% if filtered_posts.size > 0 %}
                {% for post in filtered_posts limit: 4 %}
                    <div class="column is-12">
                        <div class="card">
                            <div class="card-content">
                                <p class="title is-5">{{ post.title }}</p>
                                <p class="subtitle is-6">Published {{ post.date | date: "%b %-d, %Y" }} by {{ post.author }}</p>

                                <div class="content">
                                    {{ post.excerpt | strip_html | strip_newlines | truncate: 200 }}
                                </div>
                                <a href="{{ post.url | prepend: site.baseurl }}" class="button is-dark is-fullwidth">Read more</a>
                            </div>
                        </div>
                        <p class="title"></p>
                    </div>
                {% endfor %}
            {% else %}
                <div class="card">
                    <p>포스팅을 준비중입니다.<br>조금만 기다려주세요!</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>


