---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
    </div>
  </header> <!-- End Header -->
  <nav class="gnb">
    <ul class="gnb__list">
      <li class="gnb__item"><a href="#" title="소개" class="gnb__link">About</a></li>
      <li class="gnb__item"><a href="#" title="작성 글" class="gnb__link">Post</a></li>
      <li class="gnb__item">
        <a href="#" title="태그 목록" class="gnb__link">Tag</a>
        <div class="tag"></div>
      </li>
    </ul>
  </nav>
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        {% if site.social-github %}
          <li class="github"><a href="http://github.com/{{site.social-github}}" target="_blank"><i class="fa fa-github"></i></a></li>
        {% else %}
          <li class="github"><a href="http://github.com/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-slack %}
        <li><a href="https://join.slack.com/{{ site.social-slack }}" target="_blank"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
        {% else %}
        <li><a href="https://join.slack.com/t/0x3bhq/shared_invite/zt-1c446bbnk-o3gXE5jCBXLhBHH~e_LDvA" target="_blank"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-email %}
          <li class="email"><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope-o"></i></a></li>
        {% else %}
          <li class="email"><a href="mailto:example.david@blog.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
  <!-- 
    {% for post in site.posts %}
        <article class="post">
          <a class="post-thumbnail" style="background-image: url(/assets/img/how-to-start.jpg)" href="{{ post.url }}"></a>     
          <div class="post-content">
            <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <p>{{ post.description }}</p>
            <span class="post-date">{{ post.date }}</span>
            <span class="post-words">3 minute read</span>
          </div>
        </article>
    {% endfor %}
  </ul> -->
</div>
