---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
    </div>
  </header> <!-- End Header -->
  <nav class="gnb">
    <ul class="gnb__list">
      <li class="gnb__item"><a href="#" title="소개" class="gnb__link">Home</a></li>
      <li class="gnb__item"><a href="#" title="소개" class="gnb__link">About</a></li>
      <li class="gnb__item">
        <div class="tagBox">
          {% for tag in site.tags %}
            {% if site.data.tags contains tag[0] %}
              <!-- tag_name 변수 지정: 태그명은 소문자화(slugize) 한다 -->
              {% capture tag_name %}{{ tag | first }}{% endcapture %}
              <!-- tag_size 변수 지정-->
              {% capture tag_size %}{{ tag | last | size }}{% endcapture %}

              <a href="/tags#{{tag_name}}" onclick="showTag('#{{tag_name}}')" class="tagBox__tag">
                &#35; {{ tag_name }} ({{ tag_size }})
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </li>
    </ul>
  </nav>
  <footer>
    <section class="contact">
      <h3 class="contact-title">Contact me</h3>
      <ul>
        {% if site.social-github %}
          <li class="github"><a href="https://github.com/{{site.social-github}}" target="_blank"><i class="fa fa-github"></i></a></li>
        {% else %}
          <li class="github"><a href="https://github.com/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-slack %}
        <li><a href="https://join.slack.com/{{ site.social-slack }}" target="_blank"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
        {% else %}
        <li><a href="https://join.slack.com/t/0x3bhq/shared_invite/zt-1c446bbnk-o3gXE5jCBXLhBHH~e_LDvA" target="_blank"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-email %}
          <li class="email"><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope-o"></i></a></li>
        {% else %}
          <li class="email"><a href="mailto:webdevmarkup@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->

<div class="content-box clearfix">
  {{ content }}
</div>

